/* nav bar CSS styling that fixes it to the top of page */
nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left:1.25em;
  padding-right:1.25em;
  position:fixed;
  top:0;
  z-index:1;
}
.head {
  display:flex;
  align-items: flex-end;
  padding-bottom: 0.5em;
  font-family: 'Bungee', cursive;
  font-size: 36px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.fa-angles-down{
color: red
}
 /* When page goes under 768px, this is the new color of the nav */
@media (max-width:768px) {
  nav {
    background-color: #f57f00;
    background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  }
}

