.new-tweet {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width:100%;
}
textarea {
  background-color: #f4f1ec;
  overflow: scroll;
  border: none;
  white-space: nowrap;
  border-bottom: 5px solid black;
  height: 45px;
}

button {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: white;
}

.counter {
  font-size:32px;
  font-weight: bold;
}

form {
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: space-between;
}


.tweetheader {
  margin:auto;
  background-color: #f4f1ec;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 300px;
  width:90%;
  border: 2px solid black;
  box-sizing: border-box;
  margin-bottom: 1em;
}
.tweetheader:hover{
  box-shadow: 5px 10px;
}
.top-element{
  display: flex;
  align-items: center;
}
.top{
  background-color: #f4f1ec;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.lower{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin:auto;
  padding-bottom: 0.5em;
}
.fa-flag:hover{
  color:gold;
}
.fa-retweet:hover{
  color:blue;
}
.fa-heart:hover {
  color:red;
}
.contents {
  display: flex;
  justify-content: flex-start;
  border-bottom: 5px solid black;
  padding-bottom: 0.5em;
  width: 95%;
  margin: auto;
}


.message {
  display: flex;
  justify-content: center;
  color:red;
  font-size:30px;
  border: 2px solid red;
  width:111%;
  margin-top: 0.2em;
}

.errors{
  width: 90%;
  background-color: #f4f1ec;
}

@media (min-width: 1024px) {
  .new-tweet {
    width:90%;
    display: flex;
    justify-content: flex-end;
    margin:auto;
    float: right;
    padding-bottom: 1em;
  }
  .tweetheader {
    width:70;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-bottom: 1em;
  }
  .tweets{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width:50%;
    margin:auto;
    float: right;
    right:0;
    z-index:1;
  }
  .textarea{
    display: flex;
    align-items:flex-start;
  }

}